.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(248, 245, 245);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}
